:root {
    --main-purple: #6757d9;
}

.quiz-header {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.right-header,
.left-header {
    display: flex;
    align-items: center;
}

.value {
    background-color: white;
}

.quiz-body {
    margin-top: 100px;
}

.question {
    margin-bottom: 50px;
    color: white;
    background-color: var(--main-purple);
    font-weight: bold;
}

.quiz-button {
    display: flex;
    justify-content: flex-start;
}