:root {
    --main-purple: #6757d9;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1000px;
    background-color: #eeedfb;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
}

.header {
    color: var(--main-purple);
    margin: 50px
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This will ensure that the link text inside the .option element turns white when you hover over the .option button. */
.option:hover a {
    background-color: var(--main-purple);
    color: white;
    cursor: pointer;
}

.option:hover,
.button:hover {
    background-color: var(--main-purple);
    color: white;
    cursor: pointer;
}

a,
button {
    text-decoration: none;
    color: var(--main-purple);
    /* turn the default blue to purple */
    border-radius: 15px;
    width: 230px;
    height: 500 px;
    background-color: white;
    margin: 10px;
    padding: 20px 30px;
    font-size: large;
    color: var(--main-purple);
    transition: all 0.2s ease-in;
    border: none
}

.button {
    background-color: transparent;
    border-radius: 10px;
    margin: 20px;
    border: 2px solid var(--main-purple);
    padding: 10px 30px;
    text-align: center;
}

.value {
    color: var(--main-purple);
    background-color: aliceblue;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}