:root {
  --main-purple: #6757d9;
}





.left {
  display: flex;
  align-items: center;
}

.score-rank {
  color: white;
  background-color: var(--main-purple);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
}

.score-name {
  margin: auto 10px;
}
